body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100vh;
    clear: none;
}

.titulo {
    width: 100%;
    height: auto;
}

.titulo p{
    font-size: 30px;
    text-align: center;
    color: #ff9e20;
}