/* FORMULARIO */
.formu {
    margin: 0px;
    padding: 0px;
    width: 80%;
    text-align: center;
    vertical-align: middle;
}

.formu label{
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    display: block;
}

.selector {
    width: 10%;
    height: 200%;
    text-align: center;
    vertical-align: middle;
    float: left;
    margin-top:10px ;
    margin-bottom: 200px;
    margin-left: 10px;
}


/* Botones guardar, eliminar y nuevo usuario */
.botones {
    top: 50%;
    left: 50%;
    position:fixed;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    float: right;
    display: block;
    margin-top: 5px;
    margin-left: -70px;
    width: 15%;
}

.elim{
    width: 48%;
    float: left;
    vertical-align: middle; 
}

.elim input[type="submit"]{
    background: rgb(175, 10, 10);
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
}

.elim input[type="submit"]:hover{
    cursor: pointer;
    background: #ff0101;
}

.guar{
    width: 48%;
    float: left;
    vertical-align: middle;
}

.guar input[type="submit"]{
    background: #237a17;
    color: #fff;
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
}

.guar input[type="submit"]:hover{
    color: #fff;
    background: #1ac703;
}

