body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100vh;
    clear: none;
}

#nav {
    list-style-type: none;
    text-align: center;
    background: #666;
    width: 80%;
    float: right;
    bottom: 50px;
}

#nav li {
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
    top: 50px;
}

#nav li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #333333;
    color: #ffffff;
}

#nav li img {
    margin: 0px;
    padding: 0px;
}

#logo {
    width: 20%;
}

#cuerpo {
    clear: right;
}