body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    height: 100vh;
    clear: none;
}

#nav {
    list-style-type: none;
    text-align: center;
    background: red;
    /* width: 100%; */
    float: right;
    bottom: 50px;
}

#nav li {
    display: inline;
    text-align: center;
    margin: 0 52px 0 0;
}

#nav li a {
    padding: 2px 7px 2px 7px;
    color: #666;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    text-decoration: none;
    
}

#nav li a:hover {
    background-color: #333333;
    color: #ffffff;
    border: none;
    outline: none;
    display: inline;
    text-align: center;
    
}

#cuerpo {
    width: 100%;
    clear: none;
}